<section class="content-header">
    <h1>
    Home
    <small></small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <p>Proyecto de Tesis is a microsoftware aimed at helping the common short-term investor. But how does it do it? Here we provide some insights into the algorithms used in Proyecto de Tesis.</p>
</section>