<section class="content-header">
    <h1>
    Home
    <small></small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <p>Welcome to Proyecto de Tesis! The cutting-edge tool that aids investors worldwide! </p>
    <p>Through a committee of state-of-the-art algorithms, Proyecto de Tesis predicts next-day Stock Prices for the general short-term investor.</p>
</section>